%h1 New audios
= form_for [@res, @audio] do |f|
  = f.label :audio,class:'text'
  %br
  = f.file_field :sound
  %br
  = f.submit 'Upload',class:'btn btn-primary'
  = link_to 'Back', user_path(current_user),class:'btn btn-default'