= link_to 'New message', new_message_path
%br
- @messages.each do |message|
  = link_to '', message_path(message),method: :delete, class: 'glyphicon glyphicon-remove'
  .well.sidebar-nav
    %h3
      = 'To: '+ message.user.first_name + ' ' + message.user.last_name
    %h4
      =  'From: '+ User.find(message.user_from).first_name + ' ' + User.find(message.user_from).last_name
    %p
      = link_to message.message_text, message_path(message),size:'20x20'
    %p
      = message.created_at.in_time_zone('Europe/Kiev')