%h1 Edit Photo
= form_for @photo, url: @photo, method: :patch, html: { multipart: true } do |f|
  = f.file_field :image
  = f.label :name
  %br
  = f.text_field :name
  %br
  = f.submit 'Upload'
%br
= link_to 'Destroy', photo_path(@photo),method: :delete
= link_to 'Back', photo_index_path