%h1 New photo
= form_for @photo, url: '/photo', method: :post, html: { multipart: true } do |f|
  = f.file_field :image
  = f.label :name
  %br
  = f.text_field :name
  %br
  = f.submit 'Upload'
  = link_to 'Back', photo_index_path