%h1
  = @photo.name
= form_for :like, url: photo_path(@photo), method: :patch, html: { multipart: true } do |f|
  = f.hidden_field :source =>  @photo
  = f.submit "", :type => :image, :src => image_path("loys.png")
  = @photo.likes.count
%br
= image_tag @photo.image.url(:medium)
%br
= link_to 'Delete', photo_path(@photo),method: :delete
= link_to 'Back', photo_index_path