.btn-group.btn-group-justified
  .btn-group
    =button_to 'Friends',users_path,class:'btn',method: :get
  .btn-group
    =button_to 'Request to friend',request_friend_index_users_path,class:'btn',method: :get
  .btn-group
    =button_to 'All people',all_people_users_path,class:'btn',method: :get
%br
- if @users.present?
  - @users.each do |user|
    %div
      .row
        .col-lg-4{ class: 'panel panel-default'}
          %div{ class: 'panel-body'}
            -if user.photo.present?
              .text-center
                = image_tag(user.photo.image.url(:thumb))
            - else
              .text-center
                = image_tag 'missing_avatar.png', size: '200x200'
        .col-lg-8{ class: 'panel panel-default'}
          %div{ class: 'panel-body'}
            %h2
              = link_to user.first_name.to_s+' '+user.last_name.to_s, user_path(user)
            %p
              = user.email
            %p
              = user.birthday
            %p
              = user.sex
    %br