- @users.each do |user|
   %div
      .row
         .col-lg-4
            -if user.photo.present?
               %br
               = image_tag(user.photo.image.url(:thumb))
            - else
               %br
               = image_tag 'missing_avatar.png', size: '200x200'
         .col-lg-8
            %h2
               = link_to user.first_name.to_s+' '+user.last_name.to_s, user_path(user)
            %p
               = user.email
            %p
               = user.birthday
            %p
               = user.sex
   %br


