%div
  .row
    .col-lg-4
      .well.sidebar-nav
        -if @user.photo.present?
          = link_to(image_tag(@user.photo.image.url(:thumb)), user_photo_path(@user,@user.photo))
        - else
          = image_tag 'missing_avatar.png', size: '200x200'
    .col-lg-8
      .well.sidebar-nav
        %h2= @user.first_name+" "+@user.last_name
        %p= @user.email
        %p= @user.birthday
        %p= @user.sex
%div
  .row
    - if @user.posts.present?
      - @user.posts.each do |post|
        = link_to '', user_post_path(@user,post),method: :delete, class: 'glyphicon glyphicon-remove'
        .well.sidebar-nav
          %h1
            = link_to post.name, user_post_path(@user,post)
          %p= post.text
          - post.photos.each do |photo|
            - if photo.image.present?
              = link_to(image_tag(photo.image.url(:thumb)), url_for([@user,post,photo]))
              %br
          %br
            = form_for :like, url: url_for([@user,@post]), method: :patch, html: { multipart: true } do |f|
              = f.hidden_field :source =>  post
              = f.submit '',id:'likes', :type => :image, :src => image_path('loys.png')
            = (''+post.likes.count.to_s+' Likes')







