%h1 New video
= form_for @video, url: '/videos', method: :post, html: { multipart: true } do |f|
  = f.label :video
  %br
  = f.file_field :file
  %br
  = f.submit 'Upload',class:'btn btn-default'
  = link_to 'Back', :back,class:'btn btn-default'
