%h1 New post
= form_for @post, url: '/post', method: :post, html: { multipart: true } do |f|
  = f.label :name
  %br
  = f.text_field :name
  %br
  = f.label :text
  %br
  = f.text_area :text
  %br
  = f.file_field :image
  %br
  = f.submit 'Create'
= link_to 'Back', profile_path(current_user)
