= link_to 'New dialog',new_user_dialog_path(current_user.id)
%br
- @dialogs.each do |d|
  - if d.name.present?
    %div{ class: 'panel panel-default'}
      %div{ class: 'panel-body'}
        = link_to d.name, user_dialog_path(current_user.id,d.id)
        %br
        - if d.messages.present?
          = d.messages.order(created_at: :desc).first.message_text
        %br
  -else
    %div{ class: 'panel panel-default'}
      %div{ class: 'panel-body'}
        = link_to d.users.first.first_name + ' ' + d.users.first.last_name, user_dialog_path(current_user.id,d.id)
        %br
        - if d.messages.present?
          = d.messages.order(created_at: :desc).first.message_text
        %br