%h1 New dialog
= form_for @dialog, url: user_dialogs_url(current_user.id), method: :post, html: { multipart: true,class:'form' } do |f|
  = f.label 'To'
  %br
  = f.select :user_ids,  User.all.collect { |p| [ p.first_name + ' ' + p.last_name, p.id ] }
  %br
  = f.label 'Dialog'
  = f.label 'Name'
  = f.text_field :name
  %br
  = f.submit 'create',class:'btn btn-primary'
  = link_to 'Back', :back,class:'btn btn-default'