%h1
  = @photo.name
= form_for :like, url: user_photo_likes_path(@res,@photo), method: :post, html: { multipart: true },remote:true do |f|
  = f.hidden_field :source =>  @photo
  = f.submit '', :type => :image, :src => image_path('loys.png')
= (''+@photo.likes.count.to_s+' Likes')
%br
= image_tag @photo.image.url(:medium)
%br
= link_to 'Delete', url_for([@res, @photo]),method: :delete
= link_to 'Back', url_for([@res])