.col-lg-4
  .well.sidebar-nav
    if @user.photo.present?
    = image_tag @user.photo.url(:thumb)
    else
    = image_tag '/public/images/missing_avatar.png'
.col-lg-8
  .well.sidebar-nav
    %h2= @user.first_name+" "+@user.last_name
    %p= @user.email
    %p= @user.birthday
    %p= @user.sex

